.posts {
  width: 100vw;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1rem;

  a {
    display: block;

    & + a {
      margin-top: 3.125rem;
    }

    strong {
      font-size: 1.75rem;
      font-weight: 700;

      transition: color 0.2s;
    }

    p {
      font-size: 1.125rem;
      font-weight: 500;
      color: var(--body);
      margin-top: 0.50rem;
      margin-bottom: 1.5625rem;
    }

    time {
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      font-weight: 400;
      color: var(--info);

      span {
        display: flex;
        align-items: center;
        font-size: 0.875rem;
        font-weight: 400;
        color: var(--info);
        margin-left: 2rem;
      }

      svg {
        margin-right: 0.625rem;
      }
    }

    &:hover strong {
      color: var(--highlight);
    }
  }

  button {
    border: none;
    background: transparent;
    font-weight: 600;
    font-size: 1.125rem;
    color: var(--highlight);
    margin-top: 4.125rem;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }
}
